:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title {
    text-align: center;
}

#game-canvas {
    width: 670px;
    height: 480px;
}